header{
    display: flex;
    padding: 40px 0;
}
.w-header-logo {
    display: flex;
    padding: 0  75px;
    overflow-y: hidden;
}
#logo {
    position: relative;
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    color: $darkGray;
    transition: 1s;
    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 50%;
        background: $darkGray;
        transform: scale(0);
        transform-origin: 0 center;
        transition: 0.7s;
    }
}
#logo.is-removed {
    transition: 1s;
    transform: translateY(100%);
}
#logo.is-unavailable {
    transition: 1s;
    &::after {
        transform: scale(1);
    }
}