header{
    display: flex;
    padding: 40px 0;
}
.w-header-logo {
    display: flex;
    padding: 0 0 0 75px;
}
#logo {
    position: relative;
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    color: $darkGray;
    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: -5px;
        background: $darkGray;
        transform: scale(0);
        transform-origin: center center;
        transition: 0.7s;
    }
    &:hover {
        &::after {
            transform: scale(1);
        }
    }
}